main.yaazoru.net {
    # ניתוב frontend
    reverse_proxy react-frontend-nginx:80

    # ניתוב backend לכל מה שמתחיל ב /api/
    handle_path /api/* {
        reverse_proxy yaazoru-backend-prod:3006
    }

    # דחיסת קבצים
    encode gzip
}

