services:
  backend:
    build:
      context: .
      dockerfile: lib/backend/Dockerfile
    container_name: yaazoru-backend-dev
    ports:
      - "3006:3006"
    env_file:
      - .env
    environment:
      DB_HOST: db
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      NODE_ENV: development
      FIREBASE_SERVICE_ACCOUNT_KEY: ${FIREBASE_SERVICE_ACCOUNT_KEY}
      GOOGLE_APPLICATION_CREDENTIALS_JSON: ${GOOGLE_APPLICATION_CREDENTIALS_JSON}
    volumes:
      - ./lib/backend:/app
      - ./lib/model:/app/model
      - /app/node_modules
    command: sh -c "npm install && npm run dev:nodemon"
    depends_on:
      - db
    networks:
      - yaazoru-network
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    container_name: yaazoru-postgres-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
    - db-data:/var/lib/postgresql/data
    networks:
      - yaazoru-network

  frontend:
    build:
      context: .
      dockerfile: lib/frontend/Dockerfile
      target: builder
    container_name: react-frontend-dev
    volumes:
      - ./lib/frontend:/app
      - ./lib/model:/app/model
      - /app/node_modules
    ports:
      - "3005:3005"
    command: sh -c "npm install && npm run dev -- --port 3005 --host"
    environment:
      - NODE_ENV=${NODE_ENV:-development}
      - VITE_BASE_URL=${VITE_BASE_URL:-/}
      - VITE_LIMIT=${VITE_LIMIT}
      - VITE_FIREBASE_API_KEY=${VITE_FIREBASE_API_KEY}
      - VITE_FIREBASE_AUTH_DOMAIN=${VITE_FIREBASE_AUTH_DOMAIN}
      - VITE_FIREBASE_PROJECT_ID=${VITE_FIREBASE_PROJECT_ID}
      - VITE_FIREBASE_STORAGE_BUCKET=${VITE_FIREBASE_STORAGE_BUCKET}
      - VITE_FIREBASE_MESSAGING_SENDER_ID=${VITE_FIREBASE_MESSAGING_SENDER_ID}
      - VITE_FIREBASE_APP_ID=${VITE_FIREBASE_APP_ID}
      - VITE_FIREBASE_MEASUREMENT_ID=${VITE_FIREBASE_MEASUREMENT_ID}
      - VITE_GOOGLE_MAPS_API_KEY=${VITE_GOOGLE_MAPS_API_KEY}
    networks:
      - yaazoru-network 

volumes:
  db-data:
  
networks:
  yaazoru-network:
    driver: bridge
      